.socials {
  /* position: absolute; */
  top: 33px;
  right: 264px;
  margin-right: 73px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__icon-Tg {
  background-image: url('../../images/css_sprites.png');
  background-position: -96px -6px;
}

.socials__icon-Tg:hover {
  background-image: url('../../images/css_sprites.png');
  background-position: -192px -6px;
}

.socials__icon-Vk {
  background-image:  url('../../images/css_sprites.png');
  background-position: -384px -6px;
}

.socials__icon-Vk:hover {
  background-image:  url('../../images/css_sprites.png');
  background-position: -144px -6px;
}

.socials__icon-Fb {
  background-image: url('../../images/css_sprites.png');
  background-position: -48px -6px;
}

.socials__icon-Fb:hover {
  background-image: url('../../images/css_sprites.png');
  background-position: -288px -6px;
}

.socials__icon-Inst {
  background-image: url('../../images/css_sprites.png');
  background-position: -240px -6px;
}

.socials__icon-Inst:hover {
  background-image: url('../../images/css_sprites.png');
  background-position: -336px -6px;
}